In [5]:
import pandas as pd
from statsmodels.stats.weightstats import _tconfint_generic

In [6]:
water_data = pd.read_table('water.txt')

In [5]:
water_data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [11]:
len(water_data)

61

In [13]:
water_data.mortality.mean()

1524.1475409836066

95 доверительный интервал

In [20]:
_tconfint_generic(mean=water_data.mortality.mean(), std_mean=water_data.mortality.std()/(len(water_data))**0.5,  
                  alpha=0.05, dof=len(water_data)-1, alternative='two-sided')

(1476.0833413552848, 1572.2117406119285)

In [25]:
south_towns = water_data[water_data.location == 'South']

95 доверительный интервал для южный городов по смертности

In [23]:
_tconfint_generic(mean=south_towns.mortality.mean(), std_mean=south_towns.mortality.std()/(len(south_towns))**0.5,  
                  alpha=0.05, dof=len(south_towns)-1, alternative='two-sided')

(1320.1517462936238, 1433.463638321761)

In [26]:
north_towns = water_data[water_data.location == 'North']

95 доверительный интервал для северных городов по смертности

In [27]:
_tconfint_generic(mean=north_towns.mortality.mean(), std_mean=north_towns.mortality.std()/(len(north_towns))**0.5,  
                  alpha=0.05, dof=len(north_towns)-1, alternative='two-sided')

(1586.5605251961385, 1680.6394748038613)

95 доверительные интервалы по жесткости воды

In [28]:
_tconfint_generic(mean=south_towns.hardness.mean(), std_mean=south_towns.hardness.std()/(len(south_towns))**0.5,  
                  alpha=0.05, dof=len(south_towns)-1, alternative='two-sided')

(53.467198692036106, 86.07126284642544)

In [29]:
_tconfint_generic(mean=north_towns.hardness.mean(), std_mean=north_towns.hardness.std()/(len(north_towns))**0.5,  
                  alpha=0.05, dof=len(north_towns)-1, alternative='two-sided')

(21.42248728572426, 39.37751271427574)