In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy as np
from scipy import stats

In [53]:
import sklearn
sklearn.__version__

'0.22.1'

In [5]:
banknotes = pd.read_table('banknotes.txt')

In [6]:
banknotes

        X1     X2     X3    X4    X5     X6  real
0    214.8  131.0  131.1   9.0   9.7  141.0     1
1    214.6  129.7  129.7   8.1   9.5  141.7     1
2    214.8  129.7  129.7   8.7   9.6  142.2     1
3    214.8  129.7  129.6   7.5  10.4  142.0     1
4    215.0  129.6  129.7  10.4   7.7  141.8     1
..     ...    ...    ...   ...   ...    ...   ...
195  215.0  130.4  130.3   9.9  12.1  139.6     0
196  215.1  130.3  129.9  10.3  11.5  139.7     0
197  214.8  130.3  130.4  10.6  11.1  140.0     0
198  214.7  130.7  130.8  11.2  11.2  139.4     0
199  214.3  129.9  129.9  10.2  11.5  139.6     0

[200 rows x 7 columns]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(banknotes.drop('real', axis=1), banknotes.real, 
                                                    random_state=1, test_size=50)

In [9]:
X_train

        X1     X2     X3    X4    X5     X6
98   215.1  130.0  129.8   9.1  10.2  141.5
123  215.1  130.7  130.4  10.5  11.2  139.7
119  214.4  130.2  129.9  10.1  12.0  139.2
53   215.4  130.2  130.2   7.6  10.9  141.6
33   215.6  130.4  130.1   8.4  10.3  141.0
..     ...    ...    ...   ...   ...    ...
133  214.6  130.2  130.4  10.5  11.8  139.7
137  214.9  130.7  130.3   9.3  11.2  138.3
72   215.0  129.6  130.2   8.7  10.0  141.2
140  214.8  130.2  130.3  10.0  11.9  139.3
37   215.3  129.9  129.4   7.9  10.0  142.0

[150 rows x 6 columns]

In [10]:
y_test

58     1
40     1
34     1
102    0
184    0
198    0
95     1
4      1
29     1
168    0
171    0
18     1
11     1
89     1
110    0
118    0
159    0
35     1
136    0
59     1
51     1
16     1
44     1
94     1
31     1
162    0
38     1
28     1
193    0
27     1
47     1
165    0
194    0
177    0
176    0
97     1
174    0
73     1
69     1
172    0
108    0
107    0
189    0
14     1
56     1
19     1
114    0
39     1
185    0
124    0
Name: real, dtype: int64

In [54]:
lr1 = LogisticRegression(solver='liblinear', random_state=1)
lr2 = LogisticRegression(solver='liblinear', random_state=1)

In [55]:
lr1.fit(X_train[['X1', 'X2', 'X3']], y_train)
lr2.fit(X_train[['X4', 'X5', 'X6']], y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [56]:
lr1_preds = lr1.predict(X_test[['X1', 'X2', 'X3']])
lr2_preds = lr2.predict(X_test[['X4', 'X5', 'X6']])

In [57]:
lr2_preds

array([1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0], dtype=int64)

In [58]:
y_test

58     1
40     1
34     1
102    0
184    0
198    0
95     1
4      1
29     1
168    0
171    0
18     1
11     1
89     1
110    0
118    0
159    0
35     1
136    0
59     1
51     1
16     1
44     1
94     1
31     1
162    0
38     1
28     1
193    0
27     1
47     1
165    0
194    0
177    0
176    0
97     1
174    0
73     1
69     1
172    0
108    0
107    0
189    0
14     1
56     1
19     1
114    0
39     1
185    0
124    0
Name: real, dtype: int64

In [59]:
lr1_errs = lr1_preds ^ y_test
lr2_errs = lr2_preds ^ y_test

In [60]:
lr2_errs

58     0
40     0
34     0
102    0
184    0
198    0
95     0
4      0
29     0
168    0
171    0
18     0
11     0
89     0
110    1
118    0
159    0
35     0
136    0
59     0
51     0
16     0
44     0
94     0
31     0
162    0
38     0
28     0
193    0
27     0
47     0
165    0
194    0
177    0
176    0
97     0
174    0
73     0
69     0
172    0
108    0
107    0
189    0
14     0
56     0
19     0
114    0
39     0
185    0
124    0
Name: real, dtype: int64

In [62]:
print(sum(lr1_errs))
print(sum(lr2_errs))

10
1

$H_0\colon$ доли ошибок одинаковы p = 0.5

$H_1\colon$ неодинаковы

In [63]:
def proportions_diff_z_stat_rel(sample1, sample2):
    sample = list(zip(sample1, sample2))
    n = len(sample)
    
    f = sum([1 if (x[0] == 1 and x[1] == 0) else 0 for x in sample])
    g = sum([1 if (x[0] == 0 and x[1] == 1) else 0 for x in sample])
    
    return float(f - g) / np.sqrt(f + g - float((f - g)**2) / n )

In [64]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [65]:
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_rel(lr1_errs, lr2_errs)))

p-value: 0.003297

In [68]:
def proportions_diff_confint_rel(sample1, sample2, alpha = 0.05):
    z = stats.norm.ppf(1 - alpha / 2.)
    sample = list(zip(sample1, sample2))
    n = len(sample)
        
    f = sum([1 if (x[0] == 1 and x[1] == 0) else 0 for x in sample])
    g = sum([1 if (x[0] == 0 and x[1] == 1) else 0 for x in sample])
    
    left_boundary = float(f - g) / n  - z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    right_boundary = float(f - g) / n  + z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    return (left_boundary, right_boundary)

In [69]:
print("95%% confidence interval for a difference between proportions: [%f, %f]" \
      % proportions_diff_confint_rel(lr1_errs, lr2_errs))

95% confidence interval for a difference between proportions: [0.059945, 0.300055]